@media (min-width: 640px) {
  .content {
    display: flex;
  }
}

.content {
    margin-top: 1rem;
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);

  }
  
  .wiki img {
    max-width: 50%;
  }