

html {
    --burnt-orange: #d17300;
    --light-orange: #dd9348;
    --navy-blue: #38367d;
    --medium-blue: #55629a;
    --light-blue: #96a1d2;
    --dark-gray: #333333;
    --medium-gray: #6a6262;
    --light-gray: #e6e5de;
    --max-width: 740px;
    --breakpoint: 540px;
    --radius: 4px;
  }

::selection {
    background: var(--light-orange);
    color: #fff;
  }  

body {
    font-family: "Roboto",'Open Sans', sans-serif;
    font-size: 100%;
    max-width: 980px;
    margin: 0 auto;
    color: var(--navy-blue);
    background-color: var(--light-gray);
  }  

a {
    color: #fff;
    text-decoration: none;
    transition: color 0.5s linear;
  }

img {
    width: 100%;
  }  