header {
  height: 120px;
  background: var(--dark-gray);
  border-radius: 0px 0px 10px 10px;
  }

  h1 {
    display: flex;
    align-items: center;
    background: url("../img/books-stacked.png") no-repeat;
    background-size: contain;
    height: 100%;
    margin: 0%;
    font-family: "Roboto",'Open Sans', sans-serif;
    color: var(--burnt-orange);
    font-weight: 400;
    font-size: 35px;
    padding-left: 240px;
    @media (max-width: 480px) {
        background: none;
        padding-left: 10px;
    }
  }
  
  a.avatar {
    display: flex;
    background: url("../img/avatar-joke.png") no-repeat;
    background-size: 120%;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 85px;
    height: 85px;
    line-height: 85px;
    transform: rotate(30deg);
    transition: all 1s ease;
  }

  a.avatar:hover {
    transform: rotate(0deg) scale(1.2);
  }

  @media (max-width: 450px) {
    header {
        padding: 15px;
    }
    // header h1 {
    // background: none;
    // padding-left: 10px;
    // }
}