#pull {
  display: block;
  background-color: $link;
  padding-top: 12px;
  padding-left: 12px;
  @media (min-width: $break-med) {
    display: none;
  }
}

#pull::after {
  content: "";
  background: url(../img/nav-icon.png) no-repeat;
  width: 22px;
  height: 22px;
  background-size: cover;
  display: inline-block;
}

nav ul {
  display: none;
  padding: 0;
  margin: 0;
  list-style: none;
  @media (min-width: $break-med) {
    display: flex;
    justify-content: space-around;
    text-align: center;
  }
}

nav a {
  padding: 1rem;
  color: #fff;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  background-color: var(--medium-gray);
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border: 3px solid var(--light-orange);
  border-radius: 5px;
  transition: background-color 0.2s, color 0.2s; 
  &:hover {
    text-decoration: none;
  }
}

.show-nav nav ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
}

nav a:hover, nav a:focus {
  background-color: var(--navy-blue);
  color: #ffffff;
  text-decoration: none; 
  outline: none; 
}

  .learning nav a[href*="learning"] {
    color: var(--light-orange) !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .topics nav a[href*="topics"] {
    color: var(--light-orange) !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .wiki nav a[href*="wiki"] {
    color: var(--light-orange) !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .games nav a[href*="games"] {
    color: var(--light-orange) !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
