

.nav-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  background-color: var(--medium-gray);
  color: white;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border: 3px solid var(--light-orange);
  border-radius: 5px;
  text-decoration: none; 
  transition: background-color 0.2s, color 0.2s; 
}

.nav-button:hover, .nav-button:focus {
  background-color: var(--navy-blue);
  color: #ffffff;
  text-decoration: none; 
  outline: none; 
}

nav ul {
    list-style: none;
    display: flex;
  }

  .learning nav a[href*="learning"] {
    color: red !important;
  }

  .topics nav a[href*="topics"] {
    color: red !important;
  }
  
