aside {
    
    min-width: 200px;
    height: 100vh; /* Full height */
    border-right: 1px solid #ccc;
    padding: 20px;
}

aside ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

aside ul li {
    padding: 10px 0;
    cursor: pointer;
}

main {
    flex-grow: 1;
    padding: 20px;
}